USE [master]
GO
CREATE DATABASE [RandomNames]
GO
USE [RandomNames]
GO
CREATE TABLE [dbo].[Name](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [FullName] [varchar](200) NOT NULL,
    [ClubName] [varchar](200) NOT NULL CHECK (ClubName IN ('Blue Sky','Rotary','Red Hat', 'Spicy')),
    [Age] [int] NOT NULL,
    [Fee] [decimal](10,2) NOT NULL,
    CONSTRAINT [PK_Name] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO
SET IDENTITY_INSERT [dbo].[Name] ON 
INSERT [dbo].[Name] ([ID], [FullName], [ClubName], [Age], [Fee]) 
VALUES 
    (1, N'One', 'Blue Sky', 20, 50.00),
    (2, N'Two', 'Rotary', 21, 60.00),
    (3, N'Three', 'Red Hat', 22, 70.00),
    (4, N'Four', 'Spicy', 23, 80.00)
SET IDENTITY_INSERT [dbo].[Name] OFF
GO